<div class="main-wrapper">
	<md-toolbar class="topbar">
		<div class="md-toolbar-tools">
			<h2>
				<span>#askGaryVee tweets</span>
			</h2>
			<span flex></span>
			<input type="search" placeholder="filter" ng-model="inputFilter"/>
		</div>
	</md-toolbar>
	<div class="main-content tweets">
		<md-content>
			<div class="l-list-container">
				<md-list>
					<md-list-item ng-click="home.changeVideo(item)" class="list-item" ng-repeat="item in items = (tweets.data | filter:inputFilter | orderBy: '-id_str')" layout="column">
						<p class="question">{{ item.attributes.question }}</p>
						<div class="q-footer" layout="row">
							<button ng-click="tweets.delete(item)">DELETE</button>
						</div>
					</md-list-item>
					<div class="no-questions" ng-if="!items.length">nothing here...</div>
					<button type="button" class="load-more" ng-click="tweets.loadMore()" ng-if="tweets.showLoadMore">{{ tweets.label }}</button>
				</md-list>
			</div>
			<div class="l-form-container">
				<h1>FORM CONTAINER</h1>
			</div>
		</md-content>
	</div>
</div>