
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";

::-webkit-scrollbar {
	display: none;
}


.main-wrapper {
	@include size(100%);
	@include position(absolute, 0 0 0 0);

	@include display(flex);
	@include flex-direction(column);

}

.topbar {
	@include position(fixed, 0 0 null 0);
	z-index: 11;
}

.main-content	{
	@include flex(1);

	&.home {
		md-content {
			padding-top: 264px;
			padding-bottom: 64px;
		}
	}


}

.footer {
	@include position(fixed, null 0 0 0);
	z-index: 11;
}




.l-video-frame {
	@include size(100% 264px);
	@include position(fixed, 0 0 null 0);
	padding-top: 64px;
	z-index: 10;
	background: black;
	box-sizing: border-box;

	iframe {
		@include size(100%);
	}
}

.list-item {
	&:nth-child(even) {
		background-color: #f5f5f5;
	}
}


.md-list-item-inner {
	@include flex-direction(column);
	@include align-items(start);

	.question {
		font-weight: bold;
		//font-size: 1em;
		width: 100%;
		text-align: left;
		margin: 1em 0 0 0;
	}

	.q-footer {

		width: 100%;
		text-align: left;

		p {
			margin: 0 0 1em 0;
		}

		.platform { color: gray; font-weight: 100; }
	}
}

.no-questions { padding: 1em; text-align: center; font-size: 24px; line-height: 1.2; font-weight: 400; color: rgba(0,0,0,0.2); }

.share-link {
	 font-size: 14px;
	 margin-right: 1em;
	 display: inline-block;

}

.load-more {
	width: 100%;
	background-color: #2c3e50;
	color: white;
	padding: 1em;
	margin: 0;
	border-radius: 0;
	border: none;

	&:focus, &:active { outline: none; }
}

a.md-button:not([disabled]):hover, .md-button:not([disabled]):hover

md-list md-list-item button.md-button:not([disabled]):hover { background: inherit; }

@media only screen and (min-width:600px) {

	.l-video-frame {
		height: 464px;
	}

	.main-content.home md-content { padding-top: 464px; }
}

@media only screen and (min-width:1024px) {

	.l-video-frame {
		height: 564px;
	}

	.main-content.home md-content { padding-top: 564px; }
}

@media only screen and (min-width:1400px) {

	.l-video-frame, .l-form-container {
		@include size(50% 100%);
	}

	.l-video-frame {
		@include position(fixed, 0 null 0 0);
	}

	.l-form-container {
		@include position(fixed, 0 0 0 null);
		padding: 64px 0 0 0;
	}

	.main-content.home {

		md-content {
			width: 50%;
			float: right;
			padding-top: 64px;
		}
	}

	.main-content.tweets {

		md-content {
			width: 50%;
			float: left;
			padding-top: 64px;
		}
	}
}